
html, body {
font-family:Helvetica, Verdana, Sans-Serif;
  box-sizing: border-box;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
}

body{
  background-image: url("p/background.png");
  position: relative;
}
.color {
  background-color: rgba(255, 255, 255, 0.9);
  color: #525150;
  padding: 5px;
}

.header{
  font-size: 3em;
  line-height: 1.2;
}


.headersmall{
  font-size: 5em; 
}

.form-control{
  font-size: 1em;
}

.text{
  font-size: 2em;
}
.nest{
  /* overflow: auto; */
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 1.5em;
}

a, a:hover, a:active {
  text-decoration: none;
  color: #525150;
}

.map{
  padding: 2px;
}